@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family-regular : 'Open Sans';
$font-size-regular : 14px;

$color-primary:#f8f9fa;
$color-primary-alt: darken($color-primary, 6.5%) ;
$color-on-primary:#212529;

$color-secondary:#be7200;
$color-secondary-alt:darken($color-secondary, 6.5%) ;
$color-on-secondary:#ffffff;

$color-background: #212529;
$color-background-alt: #444;

$color-error:#B00020;
$color-on-error:#ffffff;

$color-success:green;
$color-on-success:#212529;

$color-focus:#ffbb00;
$color-on-focus:#212529;

$color-disabled:#bdbdbd;
$color-on-disabled:#212529;


@import "./style.common.scss";
